.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;

    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    color:blue;

    border-style: solid;
    border-color: green;
    border-width: 15px;
    position: absolute;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    left: 250px;
    position: absolute;

    text-align: center;
    text-transform: uppercase;
    line-height: 50px;

    border-style: solid;
    border-color: red;
    border-width: 15px;
    position: absolute;

  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    left: 500px;
    position: absolute;
    
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    color:blue;

    border-style: solid;
    border-color: yellow;
    border-width: 15px;
    position: absolute;

  }
